#colection-links.row.rojo.info
  .col-md-12
    .col-md-4
      %h2= link_to 'Ropa', garments_path(garment_type: 'ropa'), class: 'izq',remote: true
    .col-md-4
      %h2= link_to 'Bisuteria', garments_path(garment_type: 'bisuteria'), class: 'cent',remote: true
    .col-md-4
      %h2= link_to 'Bolsas', garments_path(garment_type: 'bolsas'), class: 'der',remote: true
