#colection-links.row.rojo.info
  .col-md-12
    .col-md-4
      %h2= link_to 'Ropa', collections_path(garment_type: 'ropa'), class: 'izq'
    .col-md-4
      %h2= link_to 'Bisuteria', collections_path(garment_type: 'bisuteria'), class: 'cent'
    .col-md-4
      %h2= link_to 'Bolsas', collections_path(garment_type: 'bolsas'), class: 'der'
