.row
  #novedades
    .rojo
      %h2.indentado Novedades
    .col-md-12.info
      = render @garments
.row
  .negro
    %h2.indentado Quienes somos
  .col-md-6.info
    #quienes
      %p
        Mímesis significa "Representación", por ello se preocupa por refejar tus gustos e intereses detro de la moda proporcionándote las mejores y sofisticadas prendas del momento. 
        %span.negrita MIMESIS BOUTIQUE 
        es una tienda de prendas casuales para dama que pone a disposición del cliente las nuevas tendencias de la moda y permite un ambiente en el que puedes sentirte identificado.
  / la otra columna
  .col-md-6.info
    .row
      .col-md-4
        %h3.activo Mision
      .col-md-4
        %h3.inactivo Vision
      .col-md-4
        %h3.inactivo Valores
    #contenido_mvv
      %p Proporcionar a nuestros clientes prendas de calidad, ofreciendo las últimas tendencias moda en Primavera-Verano y Otoño-Invierno, cumplirá con las características de práctica estética y simbólicas que les proporcionen total satisfaccion en el uso.
