= render :partial => 'carousel'



#novedades.novedades
  = image_tag 'barratitular_novedades.png'
  - @latest.each do |garment|
    = render partial: 'garment' ,locals:{ garment: garment}

#quienes_somos.quienes_somos
  = image_tag 'barratitular_quienes somos.png'
  %p
    Mimisis significa "Representacion", por ello se p4reocupa por refejar tus gustos e intereses detro de la moda proporcionandote las mejores y sofisticadas prendas del momento.MIMISIS BOUTIQUE es una tienda de prendas casuales oara dana que pone a disposicion del cliente las nuevas tendencias de la moday permite un ambiente en el que puedes sentise identificado
  %p#mision
    Proporcionar a nuestro clientes prendas de calidad, ofreciendo las ultimas tendencias moda en Primavera-Verano y Otońo-Invierno, cumplicara con las caracteristicas de practica estetica  y simbolicas que les proporcionen total satisfaccion en el uso.
  %p#vision
  %p#valores
