body { padding-bottom: 70px; }

@font-face {
    font-family: Gotham-Thin;
    src: url(GothamRnd-Light.otf);
}

@font-face {
    font-family: "Gotham Rounded Book";
    src: url(GothamRnd-Book.otf);
}

@font-face {
    font-family: "New Cicle";
    src: url(New_Cicle_Gordita.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(BEBAS__.TTF);
}

@font-face {
    font-family: "Gotham Rounded Bold";
    src: url(GothamRnd-Bold.otf);
}

body {
  font-size:12px;
}

.indentado{
  margin-left: 25px;
}

h2 .indentado{
  display: inline-block;
  vertical-align: middle;
}

.rojo, .negro, .blanco{
  font-family:Bebas;
  height: 4em;
}

.rojo{
  background-color: #a32e27;
  color: #ffffff;
}

.negro{
  background-color: #000000;
  color: #ffffff;
}

.blanco{
  background-color: #ffffff;
  color: #000000;
}

.activo{
  color: #a32e27;
  font-family:Bebas;
}

.inactivo{
  color: #888888;
  font-family:Bebas;
}

.navbar a{
  color:#ffffff;
  font-family:"Gotham Rounded Book";
  font-style:normal;
}

/*.navbar-brand {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  margin-left: 0px;
  padding: 30px;
}
*/

.info{
  margin-top: 3em;
}

.info .col-md-4 h3{
  margin-top: 0;
}

p{
  color:#000000;
  font-family:"Gotham-Thin", sans-serif;
  font-size: 120%;
}

p .negrita, .formulario label
{
  font-family: "Gotham Rounded Bold";
}

.formulario {
  color:#414042;
  font-family:"New Cicle", sans-serif;
}

.form-group{
  display: inline;
}

.barra, .barranegra{
  width: 100%;
  height: 50px;
  display: inline-block;
  background-image: url("barra_negra.png");
  background-repeat: repeat-x;
  /*background-position: 0 0;*/
}

.navbar{
  margin-top: 50px;
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
color: #ffffff;
font-family: "Gotham Rounded Book";
font-size: 120%;
}

.img-responsive2 {
    display: inline-block;
    max-width: 90%;
    height: auto;
    margin-top: -30%;
}

.img-responsivef {
    display: inline-block;
    max-width: 50%;
    height: auto;
    margin-top: -25%;
}

.navbar-fixed-bottom{
  margin-bottom: 30px;
}
.garment .content{
  text-align: center;
}

.rojo.info h2{
  margin-top: 5px;
}

.izq, #colection-links .izq a{
  display: block;
  text-align: left;
}

.cent, #colection-links .cent a{
  display: block;
  text-align: center;
}

.der, #colection-links .der a{
  display: block;
  text-align: right;
}

#colection-links a{
  color: #ffffff;
}

h2.title{
  font-family: Bebas;
  color: #000;
  /*font-size: 120%;*/
}

p.description{
 font-family: "Gotham Rounded Book";
 font-size: 1.5em; 
}