#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    - @carousel.pictures.each_with_index  do |a, index|
      %li{"data-slide-to" => index, "data-target" => "#carousel-example-generic", class: "#{'active' if index ==0}"}
  / Wrapper for slides
  .carousel-inner{:role => "listbox"}
    - @carousel.pictures.each_with_index  do |picture, index|
      %div{class:"item #{'active' if index ==0}"}
        %img{alt: picture.title, src: asset_path(picture.url)}
        / .carousel-caption
        /   = picture.title

  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
    %span.sr-only Next