.row
  .barra.decoracion-negra
    %h2.blanco Contactanos
  .col-md-6
    #contacto.formulario
      %form.form-horizontal
        .form-group
          %label{:for => "exampleInputName2"} Nombre
          %input#name.form-control{ :type => "text"}/
        .form-group
          %label{:for => "exampleInputName2"} Edad
          %input#age.form-control{ :type => "text"}/
        .form-group
          %label{:for => "exampleInputName2"} Sexo
          %input{"aria-label" => "...", :type => "checkbox"}/
          M
          %input{"aria-label" => "...", :type => "checkbox"}/
          F
        .form-group
          %label{:for => "exampleInputName2"} Email
          %input#email.form-control{ :type => "text"}/
        .form-group
          %label{:for => "exampleInputName2"} Comentario
          %input#comment.form-control{ :type => "textarea"}/
      %button.btn{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
        Enviar
  .col-md-6
    #mapa
      #google-map{style: "height:320px", 'data-latitude' => "21.8501242", 'data-longitude' => "-102.2925986"}

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Gracias por su Comentario
      .modal-body
        Estaremos en contacto con usted inmediatamente
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

.navbar.navbar-inverse.navbar-fixed-bottom
  .container
    %a.navbar-brand(href="/") Mimesis
    %ul.nav.navbar-nav
      %li
        = link_to "Inicio", root_path
      %li
        = link_to 'Somos', root_path(anchor: 'somos')
      %li
        = link_to 'Catálogo', garments_path
      %li
        = link_to 'Contacto', '#contacto'
